<div id="content" class="d-flex flex-column">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let member of members.content">
                <td>
                    {{ member.lastName }}
                </td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.gender ? 'Nam' : 'Nữ'}}</td>
                <td>{{ member.contact }}</td>
                <td>{{ member.dateOfBirth }}</td>
                <td>{{ member.memberType ? member.memberType.name : ''}}</td>
                <td class="action-group">
                    <a type="button" class="btn btn-secondary" (click)="goToViewPage(member.id)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a (click)="goToUpdatePage(member.id)" type="button" class="btn btn-primary">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-danger" (click)="deleteMember(member)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigationf" class="d-flex mt-auto justify-content-end">
        <ul class="pagination">
            <li class="page-item {{ members.first ? 'disabled': ''}}">
                <a class="page-link" routerLink="/member/list" [queryParams]="{page: pageNumber}"
                    (click)="goToPageNumber(pageNumber-1)">Previous</a>
            </li>
            <li *ngFor="let page of pagination" class="page-item">
                <a class="page-link {{pageNumber == page ? 'active': ''}}" routerLink="/member/list"
                    [queryParams]="{page: page+1}" (click)="goToPageNumber(page)">{{page+1}}</a>
            </li>
            <li class="page-item {{ members.last ? 'disabled': ''}}">
                <a routerLink="/member/list" [queryParams]="{page: pageNumber+2}" (click)="goToPageNumber(pageNumber+1)"
                    class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>