<div id="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let membertype of membertypes">
                <td>
                    {{ membertype.name }}
                </td>
                <td>{{ membertype.description }}</td>
                <td class="action-group">
                    <a type="button" class="btn btn-secondary" href="member-type/view/{{membertype.id}}"><i
                            class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="member-type/update/{{membertype.id}}" type="button" class="btn btn-primary"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a type="button" class="btn btn-danger" (click)="deleteMemberType(membertype)"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>