<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders"> {{header}} </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let membertype of membertypes">
                <td>
                    {{ membertype.name }}
                </td>
                <td>{{ membertype.description }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="member-type/view/{{membertype.id}}">View</a>
                    <a href="member-type/update/{{membertype.id}}" type="button" class="btn btn-primary">Update</a>
                    <a type="button" class="btn btn-danger" (click)="deleteMemberType(membertype)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>