<div id="content" class="d-flex flex-column">
    <table class="table table-striped">

        <tbody>
            <tr *ngFor="let category of categories.content">
                <td>
                    <b>{{ category.name }}</b> <i>{{ category.shortname ? ' - '+category.shortname : '' }}</i>
                    <p>{{ category.description }}</p>

                    <p class="action-group">
                        <a type="button" class=" btn-secondary" (click)="goToViewPage(category.id)">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a (click)="goToUpdatePage(category.id)" type="button" class=" btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                        <a type="button" class=" btn-danger" (click)="deleteCategory(category)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </p>
                </td>


            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigationf" class="d-flex mt-auto justify-content-end">
        <ul class="pagination">
            <li class="page-item {{ categories.first ? 'disabled': ''}}">
                <a class="page-link" routerLink="/category/list" [queryParams]="{page: pageNumber}"
                    (click)="goToPageNumber(pageNumber-1)">Previous</a>
            </li>
            <li *ngFor="let page of pagination" class="page-item">
                <a class="page-link {{pageNumber == page ? 'active': ''}}" routerLink="/category/list"
                    [queryParams]="{page: page+1}" (click)="goToPageNumber(page)">{{page+1}}</a>
            </li>
            <li class="page-item {{ categories.last ? 'disabled': ''}}">
                <a routerLink="/category/list" [queryParams]="{page: pageNumber+2}"
                    (click)="goToPageNumber(pageNumber+1)" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>