/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

#header-container #title
{
    font-size: 2rem;
    font-weight: bold;
}

#update-button, #create-button
{
    height: 80%;
}

#content
{
    min-height: 74.8vh;
}

#footer {
    position: relative;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
    background-color: rgb(162, 189, 203);
    padding: 0px;
    height: 60px;
    line-height: 60px;
}

.action-group
{
    width: 12vw;
}
.action-group a
{
    margin-left: 5px;
    margin-right: 5px;
}

.book-container {
    width: 100%;
}

.book-img {
    width: 5vw;
    margin-right: 10px;
}

.book-status {
    font-style: italic;
    font-weight: bold;
}

.book-status.true{
    color: red;
}

.book-status.false
{
    color: blueviolet;
}

#book-details-table tr th:first-child
{
    min-width: 120px;
}