/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

#header-container #title
{
    font-size: 2rem;
    font-weight: bold;
}

#update-button, #create-button
{
    height: 80%;
}

#content
{
    min-height: 77vh;
}

#footer {
    position: relative;
    overflow: hidden;
    z-index: -1;
    bottom: 0;
    background-color: rgb(162, 189, 203);
    padding: 0px;
    height: 60px;
    line-height: 60px;
}

.action-group
{
    width: 12vw;
}

.action-group.small {
    width: 5vw;
}

.action-group a
{
    margin-left: 5px;
    margin-right: 5px;
}

.book-container {
    width: 100%;
}

.book-img {
    width: 5vw;
    margin-right: 10px;
}

.book-status {
    font-style: italic;
    font-weight: bold;
}

.book-status.true{
    color: red;
}

.book-status.false
{
    color: blueviolet;
}

#book-details-table tr th:first-child
{
    min-width: 120px;
}

.model {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}

.model .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}


.model #model-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 50vh;
    min-width: 60vw;
}

#selected-book-container
{
    min-height: 30vh;
}